
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto-BoldItalic, sans-serif;
  font-size: 18px;
  background: url("");
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 670px;
  width: 100%;
  background-size: cover;
  background: url("/images/background.jpg") no-repeat;
  background-size: 100% 100%;

  &__burger {
    background: url("/images/burger.jpg") no-repeat center;
  }

  &__chef {
    background: url("/images/chef.jpg") no-repeat center;
  }

  &__pizza {
    background: url("/images/pizza.jpg") no-repeat center;
  }
  &__hotdishes {
    background: url("/images/hoteat.jpg") no-repeat center;
  }
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 83%;
  margin: 0 auto;
  flex-direction: column;
}

//внешний вид меню
.header-info {
  background-color: rgba(255, 255, 255, 0.62);
  height: 10%;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;

}

.info {
  width: 68%;
  display: flex;
  flex-wrap: nowrap;
}

.menu_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu * {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  height: 145px;
  width: 28%;
}

.menu img {
  width: 48px;
  height: 48px;
}

.menu ul {
  list-style: none;
  display: none;
}

.menu ul li {
  position: relative;
}

.menu ul li ul {
  position: absolute;
  list-style: none;
  top: -3px;
  left: 140px;

}

.menu > ul li a {
  display: block;
  background-color: rgba(178, 178, 178, 0.7);
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 90px;
}

.menu:hover > ul {
  display: block;
}

.menu li:hover > ul {
  display: block;
}

.menu > h1 {
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #000000;
  padding-top: 10px;
}

.info_h4 {
  font-size: 16px;
  text-align: left;
  color: #000000;
  width: 39%;
  padding: 0 5px;
}

.info_h4:first-child {
  width: 34%;
}

.info_h4:last-child {
  width: 23%;
  text-decoration: underline;
}

.logo_greeting {
  width: 100%;
}

.logo {
  width: 385px;
  height: 222px;
}

.logo > h1 {
  font-size: 120px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  text-shadow: 0 6px 8px #000000;
}

.greeting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;

}

.greeting > h2 {
  width: 44%;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.greeting > p {
  width: 29%;
  padding-left: 7%;
  height: 100px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #ffffff;
}

.advantage {
  background: #1a0610;
  height: 700px;
  width: 100%;

}

.advantage h2 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.0;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 50px 0;

}

.adv_zag {
  width: 100%;
  display: flex;
  justify-content: center;
}

.adv_info {
  display: flex;
  width: 100%;
  align-items: center;
}

.adv_info_left {
  width: 70%;
  height: 170px;
  color: #ffffff;
  text-align: left;

}

.adv_info_left > h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 40.0px;
  margin: 0;
}

.adv_info_left > p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.adv_info_right {
  width: 12%;
  height: 100px;
}

.adv_info_right > img {
  max-width: 100%;
}

.adv_foto {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.adv_ft {
  width: 24%;
}

.adv_ft > img {
  width: 100%;
}

.adv_footer {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adv_footer_h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  text-align: left;
  color: white;
  margin: 0;
}

.kitchen_menu {
  width: 100%;
  background: url("/images/bg2.jpg");
}

.k_menu {
  width: 45%;
  height: 300px;
  &__title {
    text-align: center;
  }
}

.container__title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #4a4a4a;
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.kitchen_main {

}

.k_menu__title {
  font-weight: 500;
}

.k_menu__img {
  max-width: 100%;
}

.k_menu_main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%;
  justify-content: space-between;
  padding-bottom: 100px;
}

.k_menu > a {
  text-decoration: none;
  font-size: 24px;
  color: #000000;
}

.discounts {
  background: black;
  width: 100%;
  height: 1400px;
}

.discounts_h1 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  color: #ffffff;
}

.discounts > .container {
  flex-direction: column;
  flex-wrap: wrap;
}

.discounts_main {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.discounts_info {
  display: flex;
  flex-wrap: wrap;
}

.discounts_h3 {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.discounts_h3_first {
  font-size: 20px;
  width: 100%;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.discounts_p {
  width: 50%;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.discounts_p_first {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.discounts_img {
  width: 30%;

}

.discounts_img > img {
  max-width: 100%;
}

.discounts_img_main {
  position: relative;

}

.discounts_card_1 {
  position: absolute;
  left: 50px;
  top: 50px;
  //border: 1px solid black;
  width: 322px;
  height: 201px;
  background: white;
}

.discounts_card_1 > img {
  max-width: 100%;
}

.discounts_card_2 {
  border: 1px solid black;
  width: 322px;
  height: 201px;
  background: white;
}

.sakura_nav {
  width: 100%;
}

.map_sakura {
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  height: 380px;
  width: 100%;
  background: url("/images/salad (2).jpg");
}

.footer_main {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
}

.footer_info {
  width: 33%;
  height: 250px;

}

.footer_h3 {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  color: #ffffff;
}

.footer_p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
}

.footer_a {
  color: white;
}

.footer_info_h3 {
  margin: 0;
  padding: 0;
}

//пицца
.menu_main {
  width: 100%;
  background: url("/images/bg2.jpg");
}

.menu_selection {
  width: 100%;
}

.menu_selection_a {
  text-decoration: none;
}

.menu_selection_p {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 900;
  text-align: left;
  color: #ffffff;
  text-shadow: 1px 3px 5px #000000;
}

.menu_title {
  width: 100%;
  text-align: center;
}

.menu_title_h2 {
  font-size: 80px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #000000;
}

.menu_title_p {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #000000;

}

.menu_assortment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza_menu_h5 {
  margin: 0;
  width: 100%;
  height: 30px;
  padding-top: 20px;
  font-size: 12px;
  text-align: center;
  color: #4a4a4a;
}

.pizza_menu_p {
  margin: 0;
  width: 100%;
  height: 70px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #000000;

}

.list {
  &:hover {
    border: 1px solid rgba(200, 200, 200, .8);
  }
  &:hover &__some {
    display: block;
  }
  &:hover .rolli_img {
    filter: blur(2px)
  }
}

.list {
  margin: 20px;
  width: 180px;
  min-height: 200px;
  border: solid 1px rgba(155, 155, 155, 0.2);
  border: 1px solid #FFFF00;
  position: relative;
  background: rgba(255, 255, 255, .6);
}

.list__some {

  display: none;
}

.pizza_img {
  max-width: 100%;
  height: 85px;
  margin: 10px 0;
}

.pizza_main_two {
  width: 180px;
  min-height: 200px;
  border: solid 1px rgba(155, 155, 155, 0.2);
  position: absolute;
  top: -1px;
  right: -1px;
  background: white;
}

.pizza_h4 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #000000;
  margin: 15px 0 0 0;
}

.pizza_p {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: gold;
}

.closed_pizza {
  margin-top: 50px;
}

.closed_pizza_menu {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.closed_pizza_img {
  width: 300px;
  height: 330px;
  margin: 0 20px 20px 20px;
}

.closed_img {
  height: 252px;
}

.closed_pizza_price {
  width: 600px;
}

.closed_p {
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}

.closed_black {
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}

.closed_grey {
  font-size: 16px;
  text-align: left;
  color: #4a4a4a;
}

.delivery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.delivery_info {
  width: 350px;
}

.delivery_h3 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.delivery_h4 {
  margin-top: 20px;
  font-size: 19px;
  font-weight: bold;
  line-height: 35px;
  text-align: left;
  color: #000000;
}

.delivery_p {
  font-size: 16px;
  text-align: left;
  line-height: 30px;
  color: #4a4a4a;
}

.want_do {
  background: black;
  padding: 50px 0;
}

.want_do_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.want_h1 {
  margin-top: 45px;
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #ffffff;
}

.want_do_link {
  margin-top: 20px;
  width: 360px;
}

.want_do_a {
  text-decoration: none;
}

.want_do_h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.want_do_img {
  max-width: 100%;
}

.rolli_menu_h5 {
  display: none;
  margin: 0 auto;
  width: 80%;
  height: 30px;
  padding-top: 20px;
  font-size: 12px;
  text-align: center;
  color: #4a4a4a;
}

.rolli_menu_p {
  margin: 0 auto;
  width: 90%;
  height: 80px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #000000;

}

.rolli_main_two {
  position: absolute;
  top: 48px;
  bottom: 40px;
  right: 1px;
  left: 1px;
  background: rgba(255, 255, 255, .7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rolli_h4 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #000000;
  margin: 12px auto 0 auto;
  height: 39px;
}

.rolli_p {
  margin: 0 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: gold;
}

.rolli_img {
  max-width: 100%;
  height: 85px;
  margin-top: 10px;
}

.menu_rolli_main {
  width: 100%;
  margin-top: 50px;
}

.menu_rolli_main_h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 26.0px;
  text-align: center;
  color: #000000;
  padding: 50px;
}

.rolli_main_img {

}

.menu_rolli_img {
  width: 100%;
}

.rolli_main_info {
  border: 1px solid black;
  display: flex;
}

.rolliinfo {
  margin: 0 20px;
  //width: 180px;
  height: 200px;
  border: 1px solid #b2b2b2;
}

.mini_rolli_info {
  display: flex;
  justify-content: space-around;
}

.mini_main_rolli {
  width: 200px;
  height: 400px;
}

.mini_img {
  max-width: 100%;
}

.mini_p {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  margin-bottom: 3px;
}

.mini_h4 {
  display: flex;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  color: #000000;
  margin: 0;
}

.mini_rolli_p {
  margin: 0 5px 0 0;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  color: gold;
}

.mini_h6 {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  color: #000000;
  margin: 0;
}

.assorted_rolli {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assorted_info {
  width: 45%;
  height: 140px;
}

.assorted_h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 26.0px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}

.assorted_p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.0px;
  text-align: left;
  color: #000000;

}

.burger_main {
  display: flex;
  justify-content: center;
}

.burger_img {
  width: 300px;
  height: 280px;
  max-width: 100%;
  margin-right: 50px;
}

.burger_menu {
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.burger_h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20.0px;
  text-align: left;
  color: #000000;
  margin: 0;
}

.burger_h3 {
  font-size: 16px;
  line-height: 20.0px;
  text-align: left;
  color: #747474;
  margin: 0;

}

.hot_main {
  display: flex;
  justify-content: center;
}

.hot_img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  margin-right: 50px;
}

.hot_menu {
  width: 450px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.hot_h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  margin: 0;
  display: flex;
}

.hot_p {
  margin: 0 5px 0 0;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: gold;
}