<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/grid-system.css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl.theme.default.css">

    <script defer src="/assets/jquery-3.2.1.min.js"></script>
    <script defer src="/assets/owl.carousel.min.js"></script>
    <script defer src="/js/action.js"></script>
</head>
<body>
<!--<div class="grid">-->
<div class="wrapper">
    <header class="header  header__burger">
        <div class="header-info">
            <div class="container">
                <div class="menu">
                    <img src="images/menu.png" alt="">
                    <h1>Меню</h1>
                    <ul>
                        <li>
                            <a href="Main.html">Главная</a>
                        </li>
                        <li>
                            <a href="#">Продукция</a>
                            <ul>
                                <li><a href="pizza.html">Пицца</a></li>
                                <li><a href="rolli.html">Роллы</a></li>
                                <li><a href="hotdishes.html">Горячие блюда</a></li>
                                <li><a href="burger.html">Бургеры</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Контакты</a>
                            <ul>
                                <li><a href="#">О Нас</a></li>
                                <li><a href="#">Вконтакте</a></li>
                                <li><a href="#">Instgramm</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <h4>Адрес ул. Комарова 1 Б</h4>
                    <h4>+7-9270-39-23-30</h4>
                    <h4>Режим работы 10:00 - 22:00</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <h1>Сакура</h1>
            </div>

        </div>

        <div class="container">
            <div class="menu_selection">
                <a class="menu_selection_a" href=""><p class="menu_selection_p">Гамбургеры</p></a>
            </div>
        </div>
    </header>
    <div class="menu_main">
        <div class="container">
            <div class="menu_title">
                <h2 class=" container__title">Гамбургеры</h2>
                <div class="burger_main">
                    <img class="burger_img" src="images/burgerinfo.jpg" alt="">
                    <div class="burger_menu">
                        <h4 class="burger_h4">Гамбургер</h4>
                        <h3 class="burger_h3">( Булочка, сырный соус, томат, пекинская капуста, свиная котлета )</h3>
                        <h4 class="burger_h4">В ассортименте</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">100 руб,</p>300 грамм</h4>
                    </div>
                </div>
                <h2 class="menu_title_h2"> Доставка </h2>
                <div class="delivery">
                    <div class="delivery_info"><h3 class="delivery_h3">Зеленодольский район</h3>
                        <h4 class="delivery_h4">Доставка 50руб<br>Бесплатная от 350 руб</h4>
                        <p class="delivery_p">Пос.Осиново<br>Пос.Ремплер<br>Пос.Воронино</p>
                        <h4 class="delivery_h4">Доставка 100 руб <br>Бесплатная от 500 руб</h4>
                        <p class="delivery_p">Пос.Новониколаевский<br>Пос.Ивановское<br>Пос.Новая
                            тура<br>Пос.Дубровка<br>Пос.Новопольский</p>
                    </div>
                    <div class="delivery_info"><h3 class="delivery_h3">Кировский район</h3><h4 class="delivery_h4">
                            Доставка 70руб<br>Бесплатная от 350 руб</h4>
                        <p class="delivery_p">Пос.Залесный</p>
                        <h4 class="delivery_h4">Доставка 150 руб <br>Бесплатная от 500 руб</h4>
                        <p class="delivery_p">Пос.Юдино</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="want_do">
            <h1 class="want_h1">Желаете ?</h1>
            <div class="container">
                <div class="want_do_main">
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Закуски</h3><img
                                    class="want_do_img" src="images/menu2.jpg" alt=""></a></div>
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Бургеры</h3><img
                                    class="want_do_img" src="images/menu4.jpg" alt=""></a></div>
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Роллы</h3><img
                                    class="want_do_img" src="images/menu1.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer_main">
                    <div class="footer_info">
                        <h3 class="footer_h3">Адрес</h3>
                        <p class="footer_p">Адрес ул. Комарова 1 Б <br>Режим работы 10:00 - 22:00</p>
                    </div>
                    <div class="footer_info">
                        <h3 class="footer_h3">Меню</h3>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Пицца</h3></a>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Роллы</h3></a>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Бургеры</h3></a>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Горячие блюда</h3></a>
                    </div>
                    <div class="footer_info">
                        <h3 class="footer_h3">Подписывайтесь на нас</h3>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer_mib">
            <div class="container">

            </div>
        </footer>
    </div>
</body>
</html>