<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>САКУРА Осиново. 89270392330</title>
    <meta name="keywords"
          content="сакура осиново, сакура осиново казань, сакура осиново сайт, сакура осиново официальный сайт , заказ пицца осиново, пицца осиново,пицца сакура осиново, заказ пиццы Осиново, сакура осиново официальный сайт меню,сакура официальный сайт меню, пицца на дом Осиново, заказать пиццу, заказать покушать Осиново, заказать роллы, заказать роллы Осиново, заказать пиццу и роллы, 	меню, пицца, Осиново, заказать Осиново ,  доставка, на дом Осиново, сакура, сакура сайт, сакура официальный сайт , Авто-суши САКУРА,Авто-суши САКУРА осиново,">
    <meta name="description"
          content="Доставка пиццы, роллов на дом. Заказы принимаются по телефону 89270 39 23 30, Авто-суши Сакура Осиново, Комарова 1 Б, Осиново">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="6s4-yEW_IYPa-2t7P7GPHJOE0cPs9wfTRBlyUS4FB2g"/>
    <meta name="yandex-verification" content="64a80aea9973d30e"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110387143-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-110387143-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter46828500 = new Ya.Metrika({
                        id: 46828500,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/46828500" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/grid-system.css">
</head>
<body>
<!--<div class="grid">-->
<div class="wrapper">
    <header class="header  header__hotdishes">
        <div class="header-info">
            <div class="container">
                <div class="menu_header">
                    <div class="menu">
                        <img src="images/A4.svg" alt="">
                        <h1>Меню</h1>
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="pizza.html">Пицца</a></li>
                            <li><a href="rolli.html">Роллы</a></li>
                        </ul>
                    </div>
                    <div class="info_a">
                        <a href="https://vk.com/club77985862"><img src="images/vk.svg" alt=""></a>
                        <a href="https://www.instagram.com/sakura_osinovo/"><img src="images/instagram.svg" alt=""></a>
                    </div>
                    <div class="info">
                        <a href="https://vk.com/club77985862"><img src="images/vk.svg" alt=""></a>
                        <a href="https://www.instagram.com/sakura_osinovo/"><img src="images/instagram.svg" alt=""></a>
                        <h4 class="info_h4">Адрес ул.Комарова 1Б</h4>
                        <h4 class="info_h4">Режим работы 10:00-22:00</h4>
                        <a href="tel:+7-9270-39-23-30"><h4 class="info_h4">+7-9270-39-23-30</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <h1>Сакура</h1>
            </div>

        </div>

        <div class="container">
            <div class="menu_selection">
                <a class="menu_selection_a" href="#1"><p class="menu_selection_p">Закуски</p></a>
            </div>
        </div>
    </header>
    <div class="menu_main">
        <div class="container">
            <div class="hot_title">
                <a name="1"><h2 class=" container__title">Закуски</h2></a>
                <div class="hot_main">
                    <img class="hot_img" src="images/hot4.png" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Картофельные дольки</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">110₽,</p>250 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/hot3.png" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Картофель фри</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">100₽,</p>250 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/hot1.png" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Картофельные шарики</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">100₽,</p>200 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/hot2.png" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Куриные наггетсы</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">125₽,</p>250 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/sous.jpg" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Все соуса по<p class="hot_p"> 20₽</p></h4>
                        <h4 class="hot_h4">Соевый соус</h4>
                        <h4 class="hot_h4">Соус спайс </h4>
                        <h4 class="hot_h4">Соус сырный </h4>
                        <h4 class="hot_h4">Соус острый</h4>
                    </div>
                </div>
                <h2 class="menu_title_h2"> Доставка </h2>
                <div class="delivery">
                    <div class="delivery_info">
                        <h4 class="delivery_h4">Доставка 50₽<br>Бесплатная от 350₽</h4>
                    </div>
                    <div class="delivery_info">
                        <p class="delivery_p">Пос.Осиново<br>Пос.Ремплер<br>Пос.Воронино
                        <p class="delivery_p">Жк.Салават купере<br>Жк.Радужный</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="want_do">
            <h1 class="want_h1">Желаете ?</h1>
            <div class="container">
                <div class="want_do_main">
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Закуски</h3><img
                                    class="want_do_img" src="images/menu2.jpg" alt=""></a></div>
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Бургеры</h3><img
                                    class="want_do_img" src="images/menu4.jpg" alt=""></a></div>
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Роллы</h3><img
                                    class="want_do_img" src="images/menu1.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer_main">
                    <div class="footer_info">
                        <h3 class="footer_h3">Адрес</h3>
                        <p class="footer_p">
                            <nobr>Адрес ул. Комарова 1 Б</nobr>
                            <br>
                            <nobr>Режим работы 10:00 - 22:00</nobr>
                        </p>
                    </div>
                    <div class="footer_info">
                        <h3 class="footer_h3">Меню</h3>
                        <a class="footer_a" href="pizza.html"><h3 class="footer_info_h3">Пицца</h3></a>
                        <a class="footer_a" href="rolli.html"><h3 class="footer_info_h3">Роллы</h3></a>
                        <a class="footer_a" href="hotdishes.html"><h3 class="footer_info_h3">Закуски</h3></a>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer_mib">
            <div class="container">

            </div>
        </footer>
    </div>
</body>
</html>