<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Горячие блюда</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/grid-system.css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl.theme.default.css">

    <script defer src="/assets/jquery-3.2.1.min.js"></script>
    <script defer src="/assets/owl.carousel.min.js"></script>
    <script defer src="/js/action.js"></script>
</head>
<body>
<!--<div class="grid">-->
<div class="wrapper">
    <header class="header  header__hotdishes">
        <div class="header-info">
            <div class="container">
                <div class="menu_header">
                    <div class="menu">
                        <img src="images/A4.svg" alt="">
                        <h1>Меню</h1>
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="pizza.html">Пицца</a></li>
                            <li><a href="rolli.html">Роллы</a></li>
                        </ul>
                        <a href=""><img src="images/vk.png" alt=""></a>
                        <a href=""><img src="images/instagramm.png" alt=""></a>
                    </div>
                    <div class="info">
                        <h4 class="info_h4"><nobr>Адрес ул.Комарова 1Б</nobr></h4>
                        <h4 class="info_h4"><nobr>Режим работы 10:00-22:00</nobr></h4>
                        <h4 class="info_h4"><nobr>+7-9270-39-23-30</nobr></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <h1>Сакура</h1>
            </div>

        </div>

        <div class="container">
            <div class="menu_selection">
                <a class="menu_selection_a" href=""><p class="menu_selection_p">Горячие закуски</p></a>
            </div>
        </div>
    </header>
    <div class="menu_main">
        <div class="container">
            <div class="hot_title">
                <h2 class=" container__title">Закуски</h2>
                <div class="hot_main">
                    <img class="hot_img" src="images/derfri.jpg" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Картофельные дольки</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">300 руб,</p>600 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/fri.jpg" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Картофель фри</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">300 руб,</p>600 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/krug.jpg" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Картофельные шарики</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">300 руб,</p>600 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/nagg.jpg" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Куриные наггетсы</h4>
                        <h4 class="mini_h4"><p class="mini_rolli_p">300 руб,</p>600 грамм</h4>
                    </div>
                </div>
                <div class="hot_main">
                    <img class="hot_img" src="images/sous.jpg" alt="">
                    <div class="hot_menu">
                        <h4 class="hot_h4">Все соуса по<p class="hot_p">20 руб</p></h4>
                        <h4 class="hot_h4">Соевый соус</h4>
                        <h4 class="hot_h4">Соус спайс </h4>
                        <h4 class="hot_h4">Соус сырный </h4>
                        <h4 class="hot_h4">Соус грибной</h4>
                        <h4 class="hot_h4">Соус острый</h4>
                    </div>
                </div>
                <h2 class="menu_title_h2"> Доставка </h2>
                <div class="delivery">
                    <div class="delivery_info">
                        <h4 class="delivery_h4">Доставка 50руб<br>Бесплатная от 350 руб</h4>
                    </div>
                    <div class="delivery_info">
                        <p class="delivery_p">Пос.Осиново<br>Пос.Ремплер<br>Пос.Воронино
                        <p class="delivery_p">Жк.Салават купере<br>Жк.Радужный</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="want_do">
            <h1 class="want_h1">Желаете ?</h1>
            <div class="container">
                <div class="want_do_main">
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Закуски</h3><img
                                    class="want_do_img" src="images/menu2.jpg" alt=""></a></div>
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Бургеры</h3><img
                                    class="want_do_img" src="images/menu4.jpg" alt=""></a></div>
                    <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Роллы</h3><img
                                    class="want_do_img" src="images/menu1.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer_main">
                    <div class="footer_info">
                        <h3 class="footer_h3">Адрес</h3>
                        <p class="footer_p"><nobr>Адрес ул. Комарова 1 Б </nobr><br><nobr>Режим работы 10:00 - 22:00</nobr></p>
                    </div>
                    <div class="footer_info">
                        <h3 class="footer_h3">Меню</h3>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Пицца</h3></a>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Роллы</h3></a>
                        <a class="footer_a" href=""><h3 class="footer_info_h3">Горячие блюда</h3></a>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer_mib">
            <div class="container">

            </div>
        </footer>
    </div>
</body>
</html>