<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
</head>
<body>
<div class="test">

</div>
<ul>
    <li>
        <a href="/index.html">index</a>
    </li>
    <li>
        <a href="/about.html">abou123123t</a>
    </li>
</ul>

<img src="/images/brain.png" alt="">

Hello World!

</body>
</html>