<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <!--<meta  http-equiv="x-ua-compatible" content="ie=edge">-->
    <title>Сакура</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="style/index.css" type="text/css">-->
    <style><%- criticalStyle %></style>
    <link rel="stylesheet" href="style/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl.theme.default.css">
    <script defer src="/assets/jquery-3.2.1.min.js"></script>
    <script defer src="/assets/owl.carousel.min.js"></script>
    <script defer src="/js/action.js"></script>
    <link rel="stylesheet" href="/style/grid-system.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header-info">
            <div class="container">
                <div class="menu_header">
                    <div class="menu">
                        <img src="images/A4.svg" alt="">
                        <h1>Меню</h1>
                        <ul>
                            <li><a href="pizza.html">Пицца</a></li>
                            <li><a href="rolli.html">Роллы</a></li>
                            <li><a href="hotdishes.html">Закуски</a></li>
                        </ul>
                    </div>
                    <div class="info_a">
                        <a href=""><img src="images/vk.svg" alt=""></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </div>
                    <div class="info">
                        <a href=""><img src="images/vk.svg" alt=""></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                        <h4 class="info_h4">Адрес ул.Комарова 1Б</h4>
                        <h4 class="info_h4">Режим работы 10:00-22:00</h4>
                        <h4 class="info_h4">+7-9270-39-23-30</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo_greeting">
            <div class="container">
                <div class="logo">
                    <h1>Сакура</h1>
                </div>
                <div class="greeting">
                    <h2>
                        Приветсвуем
                    </h2>
                    <p>
                        Добро пожаловать в наше заведение, мы накормим вас самой лучшей едой, наша доставка и
                        обслуживание лучшее, которое вы сможете встретить!
                    </p>
                </div>
            </div>

        </div>
    </header>
    <div class="advantage">
        <div class="container">
            <div class="adv_zag">
                <h2>О наших<br>
                    преимуществах</h2>
            </div>
            <div class="adv_info">
                <div class="adv_info_left">
                    <h3>Продукты которые мы используем</h3>
                    <p>В основном наша продукция состоит из, мясных компонентов и овощей, всю овощную продукцию мы
                        закупаем у лидера Татарстана, агро комбината «Майский», а так же всю мясную продукцию, напрямую
                        у производителя «Казансакая птицефабрика»</p>
                </div>
                <div class="adv_info_right">
                    <img src="images/natural-product.png" alt="#">
                </div>
            </div>
            <div class="adv_foto">
                <div class="adv_ft">
                    <img src="images/tom.jpg" alt="">
                </div>
                <div class="adv_ft">
                    <img src="images/hoteat.jpg" alt="">
                </div>
                <div class="adv_ft">
                    <img src="images/ban.jpg" alt="">
                </div>
                <div class="adv_ft">
                    <img src="images/los.jpg" alt="">
                </div>
            </div>
            <div class="adv_footer">
                <h3 class="adv_footer_h3">- Наши курьеры быстро доставляют продукт, мы думаем о клиентах!</h3>
                <h3 class="adv_footer_h3">- Вежливые администраторы , всегда подскажут и помогут выбрать вам заказ!</h3>
            </div>
        </div>
    </div>
    <div class="kitchen_menu">
        <div class="container">
            <div class="kitchen_main">
                <h2 class=" container__title">Меню</h2>
                <div class="k_menu_main">
                    <div class="k_menu">
                        <a href="pizza.html">
                            <h3 class="k_menu__title">Пицца</h3>
                            <img class="k_menu__img" src="images/menu3.jpg" alt="">
                        </a>
                    </div>
                    <div class="k_menu">
                        <a href="rolli.html">
                            <h3 class="k_menu__title">Роллы</h3>
                            <img class="k_menu__img" src="images/menu1.jpg" alt="">
                        </a>
                    </div>
                    <div class="k_menu">
                        <a href="hotdishes.html">
                            <h3 class="k_menu__title">Закуски</h3>
                            <img class="k_menu__img" src="images/menu2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="discounts">
        <div class="container">
            <h1 class="discounts_h1">Скидки</h1>
            <div class="discounts_main">
                <div class="discounts_info">
                    <h3 class="discounts_h3_first">
                        Если у вас день рождения вы полулучите скидку 10%
                    </h3>
                    <p class="discounts_p_first">
                        Для получения скидки, предъявите паспорт
                    </p>
                    <div class="discounts_info_two">
                        <h3 class="discounts_h3">
                            Хотите карту 5 процентов ?
                        </h3>

                        <p class="discounts_p">
                            Предъявите чекки на сумму 1,500 руб
                        </p>
                        <h3 class="discounts_h3">
                            Карту со скидкой 10% ?
                        </h3>
                        <p class="discounts_p">
                            Предъявите чеков на сумму 6,000 руб
                        </p>
                    </div>
                    <div class="discounts_img">
                        <img src="images/tissue.jpg" alt="">
                    </div>
                </div>
                <div class="discounts_img_main">
                    <div class="discounts_card_1">
                        <img src="images/discounts.jpg" alt="">
                    </div>
                    <div class="discounts_card_2"></div>
                </div>
                <div class="discounts_information">
                    <h1 class="discounts_h1">Информация</h1>
                    <h3 class="adv_footer_h3">– Скидки по акциям и картам суммируются<br>– Посмотреть победителей конкурсов и поучаствовать, можно в наших соц.Сетях<br>–Дисконтная карта действует только при предъявление, или показать курьеру при доставке<br>– Оплата заказа в завдении любым способом<br> – При доставке оплата наличными средствами </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="sakura_nav">
        <div class="container">
            <div class="map_sakura">
                <iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.2377455010683!2d48.88464101593532!3d55.87589048058648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4159511120094fc5%3A0xda6c864df15403f6!2z0YPQuy4g0JrQvtC80LDRgNC-0LLQsCwgMdCRLCDQntGB0LjQvdC-0LLQviwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIyNTI3!5e0!3m2!1sru!2sru!4v1507542824548"
                         style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer_main">
                <div class="footer_info">
                    <h3 class="footer_h3">Адрес</h3>
                    <p class="footer_p"><nobr>Адрес ул. Комарова 1 Б </nobr><br><nobr>Режим работы 10:00 - 22:00</nobr></p>
                </div>
                <div class="footer_info">
                    <h3 class="footer_h3">Меню</h3>
                    <a class="footer_a" href="pizza.html"><h3 class="footer_info_h3">Пицца</h3></a>
                    <a class="footer_a" href="rolli.html"><h3 class="footer_info_h3">Роллы</h3></a>
                    <a class="footer_a" href="hotdishes.html"><h3 class="footer_info_h3">Закуски</h3></a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer_mib">
        <div class="container">

        </div>
    </footer>
</div>
</body>
</html>