<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Пицца</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/style/index.css">-->
    <style><%- criticalStyle %></style>
    <link rel="stylesheet" href="/style/grid-system.css">
</head>
<body>
<div class="wrapper">
    <header class="header  header__pizza">
        <div class="header-info">
            <div class="container">
                <div class="menu_header">
                    <div class="menu">
                        <img src="images/A4.svg" alt="">
                        <h1>Меню</h1>
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="rolli.html">Роллы</a></li>
                            <li><a href="hotdishes.html">Горячие блюда</a></li>
                        </ul>
                        <img src="images/vk.png" alt="">
                        <img src="images/instagramm.png" alt="">
                    </div>
                    <div class="info">
                        <h4 class="info_h4"><nobr>Адрес ул.Комарова 1Б</nobr></h4>
                        <h4 class="info_h4"><nobr>Режим работы 10:00-22:00</nobr></h4>
                        <h4 class="info_h4"><nobr>+7-9270-39-23-30</nobr></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <h1>Сакура</h1>
            </div>
            <div class="menu_selection">
                <a class="menu_selection_a" href=""><p class="menu_selection_p">Большая пицца</p></a>
                <a class="menu_selection_a" href=""><p class="menu_selection_p">Закрыттая пицца</p></a>

            </div>
        </div>
    </header>
    <div class="menu_main">
        <div class="container">
            <div class="menu_title">
                <h2 class="menu_title_h2">Пицца</h2>
                <p class="menu_title_p">Большая пицца</p>
                <div class="menu_assortment">
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Пеперони</h4>
                            <img class="pizza_img" src="images/1.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">310 руб</p>650 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Пеперони</h5>
                                <p class="pizza_menu_p">Салями, шампиньон, томат, сыр</p>
                                <h5 class="pizza_menu_h5">310 руб 650 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Адыгея</h4>
                            <img class="pizza_img" src="images/2.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">320 руб </p> 700 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Адыгея</h5>
                                <p class="pizza_menu_p">Курица х/к, томат, шампиньон, сыр</p>
                                <h5 class="pizza_menu_h5">320 руб 700 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Цезарь</h4>
                            <img class="pizza_img" src="images/3.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">330 руб</p>700 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Цезарь</h5>
                                <p class="pizza_menu_p">Курица х/к, лист салата, томат, сыр</p>
                                <h5 class="pizza_menu_h5">330 руб 700 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Домашняя</h4>
                            <img class="pizza_img" src="images/4.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">310 руб</p>650 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Домашняя</h5>
                                <p class="pizza_menu_p">Охот.Колбаса, сол.Огурец, томат, сыр</p>
                                <h5 class="pizza_menu_h5">310 руб 650 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Маргарита</h4>
                            <img class="pizza_img" src="images/5.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">260 руб</p>650 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Маргарита</h5>
                                <p class="pizza_menu_p">Томат, сыр моцарелла</p>
                                <h5 class="pizza_menu_h5">260 руб 650 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Эквадор</h4>
                            <img class="pizza_img" src="images/6.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">310 руб</p>650 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Эквадор</h5>
                                <p class="pizza_menu_p">Курица х/к, томат, охот.Колбаса, сыр</p>
                                <h5 class="pizza_menu_h5">310 руб 650 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Мясная</h4>
                            <img class="pizza_img" src="images/7.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">430руб</p>1000грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Мясная</h5>
                                <p class="pizza_menu_p">Салями, ветчина, охот.Колбаса, томат, сыр</p>
                                <h5 class="pizza_menu_h5">430руб 1000грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Грибная</h4>
                            <img class="pizza_img" src="images/8.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">310 руб</p>700 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Грибная</h5>
                                <p class="pizza_menu_p">Лес.Грибы, шампиньон, салями, сыр</p>
                                <h5 class="pizza_menu_h5">310 руб 700 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Виаджо</h4>
                            <img class="pizza_img" src="images/9.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">310 руб</p>550 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Виаджо</h5>
                                <p class="pizza_menu_p">Ветчина, шампиньон, сыр</p>
                                <h5 class="pizza_menu_h5">310 руб 550 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Казань</h4>
                            <img class="pizza_img" src="images/10.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">320 руб</p>600 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Казань</h5>
                                <p class="pizza_menu_p">Курица х/к, бекон, лук, сыр</p>
                                <h5 class="pizza_menu_h5">320 руб 600 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Зачётная</h4>
                            <img class="pizza_img" src="images/11.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">360 руб</p>700 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Зачётная</h5>
                                <p class="pizza_menu_p">Курица х/к, лист салата, томат, сыр</p>
                                <h5 class="pizza_menu_h5">360 руб 700 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Кантри</h4>
                            <img class="pizza_img" src="images/12.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">330 руб</p>600 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Кантри</h5>
                                <p class="pizza_menu_p">Ветчина, шампиньон, бекон, сыр</p>
                                <h5 class="pizza_menu_h5">330 руб 600 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Копчённая</h4>
                            <img class="pizza_img" src="images/13.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">360 руб</p>650 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Копчённая</h5>
                                <p class="pizza_menu_p">Курица х/к, сыр, охот.Колбаса, сол.Огурец, красный лук, </p>
                                <h5 class="pizza_menu_h5">360 руб 650 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Мексика</h4>
                            <img class="pizza_img" src="images/14.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">390 руб</p>850 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Мексика</h5>
                                <p class="pizza_menu_p">Курица х/к, томат, ветчина, болгарский перец, сыр</p>
                                <h5 class="pizza_menu_h5">390 руб 850 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Болоньезе</h4>
                            <img class="pizza_img" src="images/15.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">380 руб</p>800 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Болоньезе</h5>
                                <p class="pizza_menu_p">Фарш, томат, болгарский перец, лук, сыр</p>
                                <h5 class="pizza_menu_h5">380 руб 800 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">К пенному</h4>
                            <img class="pizza_img" src="images/16.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">340 руб</p>800 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">К пенному</h5>
                                <p class="pizza_menu_p">Мар.Лук , огурец, копчённый сыр, свинина, зелень, сыр
                                    моцарела</p>
                                <h5 class="pizza_menu_h5">340 руб 800 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Со свининой</h4>
                            <img class="pizza_img" src="images/17.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">300 руб</p>720 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Со свининой</h5>
                                <p class="pizza_menu_p">Свинная шея, томат, соус «сырный», сыр</p>
                                <h5 class="pizza_menu_h5">300 руб 720 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Веронез</h4>
                            <img class="pizza_img" src="images/18.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">430 руб</p>900 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Веронез</h5>
                                <p class="pizza_menu_p">Курица х/к, салями, томат, сол.Огурец,лук,сыр</p>
                                <h5 class="pizza_menu_h5">430 руб 900 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Чесночная</h4>
                            <img class="pizza_img" src="images/19.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">330 руб</p>800 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Чесночная</h5>
                                <p class="pizza_menu_p">Курица х/к, охот.Колбаса, томат, сол.Огурец,
                                    мар.Лук,чеснок,сыр</p>
                                <h5 class="pizza_menu_h5">330 руб 800 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Ост.Колбаска</h4>
                            <img class="pizza_img" src="images/20.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">280 руб</p>740 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Ост.Колбаска</h5>
                                <p class="pizza_menu_p">Ост.Колбаса, томат, сыр</p>
                                <h5 class="pizza_menu_h5">280 руб 740 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Курица с перцем</h4>
                            <img class="pizza_img" src="images/21.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">330 руб</p>600 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Курица с перцем</h5>
                                <p class="pizza_menu_p">Курица х/к, болгарский перец, лук, сыр</p>
                                <h5 class="pizza_menu_h5">330 руб 600 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Деревенская</h4>
                            <img class="pizza_img" src="images/22.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">380 руб</p>850 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Деревенская</h5>
                                <p class="pizza_menu_p">Бекон, ветчина, корнишон, мар.Лук, сыр</p>
                                <h5 class="pizza_menu_h5">380 руб 850 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">Гавайи</h4>
                            <img class="pizza_img" src="images/23.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">310 руб</p>700 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">Гавайи</h5>
                                <p class="pizza_menu_p">Курица х/к, ананас, сыр</p>
                                <h5 class="pizza_menu_h5">310 руб 700 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="pizza_main">
                            <h4 class="pizza_h4">XXL</h4>
                            <img class="pizza_img" src="images/24.jpg" alt="">
                            <h4 class="pizza_h4"><p class="pizza_p">380 руб</p>850 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h5 class="pizza_menu_h5">XXL</h5>
                                <p class="pizza_menu_p">Свинная шея, томат, сыр</p>
                                <h5 class="pizza_menu_h5">380 руб 850 грамм</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="closed_pizza">
                    <p class="menu_title_p">Закрытая пицца</p>
                    <div class="closed_pizza_menu">
                        <div class="closed_pizza_img">
                            <img class="closed_img" src="images/cp.png" alt="">

                            <div class="closed_pizza_price_first">
                                <div class="closed_bg">
                                    <p class="closed_black">Сборная мясная, острая: 350 грамм 110 руб</p>
                                    <p class="closed_grey">( курица, охот.Колбаса, сервелат, томат, острый соус )</p>
                                </div>
                                <div class="closed_bg">
                                    <p class="closed_black">Сборная: 350 грамм 110 руб</p>
                                    <p class="closed_grey">( курица, сыр, кетчуп, майонез, картошка, салат
                                        «капуста,морковь»)</p>
                                </div>
                                <div class="closed_bg">
                                    <p class="closed_black">Сборная с луком: 300 грамм 110 руб</p>
                                    <p class="closed_grey">( курица, сыр, кетчуп, майонез, картошка, Мар.огурцы, лук
                                        )</p>
                                </div>
                                <div class="closed_bg">
                                    <p class="closed_black">С колбасой и томатами: 250 грамм 100 руб</p>
                                    <p class="closed_grey">( Колбаса, сыр, кетчуп, майонез, томат )</p>
                                </div>
                                <div class="closed_bg">
                                    <p class="closed_black">С фаршем: 270 грамм 110 руб</p>
                                    <p class="closed_grey">( Фарш свиной, сыр, кетчуп, майонез, томат, лук )</p>
                                </div>
                                <p class="closed_p">Доболнительная начинка <br>Мясная 30 руб <br>Овощная 20 руб</p>
                            </div>
                        </div>
                        <div class="closed_pizza_price">
                            <div class="closed_bg">
                                <p class="closed_black">С нагетсами: 250 грамм, 110 руб</p>
                                <p class="closed_grey">( Нагетсы, мар.Огурцы, картошка, сыр, кетчуп, майонез )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С курицей: 200 грамм, 80 руб</p>
                                <p class="closed_grey">( курица, сыр, кетчуп, майонез )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С курицей и картошкой: 250 грамм 100 руб </p>
                                <p class="closed_grey">( курица, сыр, кетчуп, майонез, картошка )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С курицей и томатом: 250 грамм 100 руб </p>
                                <p class="closed_grey">( курица, сыр, кетчуп, майонез, томат )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С курицей и летним салатом: 300 грамм 110 руб </p>
                                <p class="closed_grey">( курица, сыр, майонез,кетчут, летний салат «огурцы, томаты,лук</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С фаршем и сырным соусом: 300 грамм 100 руб</p>
                                <p class="closed_grey">( Фарш свиной, сыр, сырный соус, томат, пекинская капуста )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С курицей и сырным соусом: 250 грамм 1100 руб </p>
                                <p class="closed_grey">( курица, сыр, сырный соус, пекинская капуста, томат )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С курицей на грибном соусе: 200 грамм 100 руб</p>
                                <p class="closed_grey">( курица, сыр, грибной соус )</p>
                            </div>
                            <div class="closed_bg">
                                <p class="closed_black">С ветчиной: 300 грамм 110 руб</p>
                                <p class="closed_grey">( Ветчина, сыр, кетчуп, майонез, шампиньоны, картошка )</p>
                            </div>
                            <p class="closed_p_2">Доболнительная начинка <br>Мясная 30 руб <br>Овощная 20 руб</p>
                        </div>
                    </div>
                </div>
                <h2 class="menu_title_h2"> Доставка </h2>
                <div class="delivery">
                    <div class="delivery_info">
                        <h4 class="delivery_h4">Доставка 50руб<br>Бесплатная от 350 руб</h4>
                    </div>
                    <div class="delivery_info">
                        <p class="delivery_p">Пос.Осиново<br>Пос.Ремплер<br>Пос.Воронино
                        <p class="delivery_p">Жк.Салават купере<br>Жк.Радужный</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="want_do">
        <h1 class="want_h1">Желаете ?</h1>
        <div class="container">
            <div class="want_do_main">
                <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Закуски</h3><img
                                class="want_do_img" src="images/menu2.jpg" alt=""></a></div>
                <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Бургеры</h3><img
                                class="want_do_img" src="images/menu4.jpg" alt=""></a></div>
                <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Роллы</h3><img
                                class="want_do_img" src="images/menu1.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer_main">
                <div class="footer_info">
                    <h3 class="footer_h3">Адрес</h3>
                    <p class="footer_p"><nobr>Адрес ул. Комарова 1 Б </nobr><br><nobr>Режим работы 10:00 - 22:00</nobr></p>
                </div>
                <div class="footer_info">
                    <h3 class="footer_h3">Меню</h3>
                    <a class="footer_a" href=""><h3 class="footer_info_h3">Пицца</h3></a>
                    <a class="footer_a" href=""><h3 class="footer_info_h3">Роллы</h3></a>
                    <a class="footer_a" href=""><h3 class="footer_info_h3">Горячие блюда</h3></a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer_mib">
        <div class="container">

        </div>
    </footer>
</div>
</body>
</html>