<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Авто-суши САКУРА Осиново. 89270392330</title>
    <meta name="keywords" content="сакура осиново, сакура осиново казань, сакура осиново сайт, сакура осиново официальный сайт , заказ пицца осиново, пицца осиново,пицца сакура осиново, заказ пиццы Осиново, сакура осиново официальный сайт меню,сакура официальный сайт меню, пицца на дом Осиново, заказать пиццу, заказать покушать Осиново, заказать роллы, заказать роллы Осиново, заказать пиццу и роллы, 	меню, пицца, Осиново, заказать Осиново ,  доставка, на дом Осиново, сакура, сакура сайт, сакура официальный сайт , Авто-суши САКУРА,Авто-суши САКУРА осиново,">
    <meta name="description" content="Доставка пиццы, роллов на дом. Заказы принимаются по телефону 89270 39 23 30, Авто-суши Сакура Осиново, Комарова 1 Б, Осиново">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="6s4-yEW_IYPa-2t7P7GPHJOE0cPs9wfTRBlyUS4FB2g" />
    <meta name="yandex-verification" content="1e7c2bca381d1cb9" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110387143-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110387143-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter46828500 = new Ya.Metrika({
                        id:46828500,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/46828500" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/grid-system.css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl.theme.default.css">

    <script defer src="/assets/jquery-3.2.1.min.js"></script>
    <script defer src="/assets/owl.carousel.min.js"></script>
    <script defer src="/js/action.js"></script>
</head>
<body>
<div class="wrapper">
    <header class="header  header__chef">
        <div class="header-info">
            <div class="container">
                <div class="menu_header">
                    <div class="menu">
                        <img src="images/A4.svg" alt="">
                        <h1>Меню</h1>
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="pizza.html">Пицца</a></li>
                            <li><a href="hotdishes.html">Закуски</a></li>
                        </ul>
                    </div>
                    <div class="info_a">
                        <a href="https://vk.com/club77985862"><img src="images/vk.svg" alt=""></a>
                        <a href="https://www.instagram.com/sakura_osinovo/"><img src="images/instagram.svg" alt=""></a>
                    </div>
                    <div class="info">
                        <a href="https://vk.com/club77985862"><img src="images/vk.svg" alt=""></a>
                        <a href="https://www.instagram.com/sakura_osinovo/"><img src="images/instagram.svg" alt=""></a>
                        <h4 class="info_h4">Адрес ул.Комарова 1Б</h4>
                        <h4 class="info_h4">Режим работы 10:00-22:00</h4>
                        <a href="tel:+7-9270-39-23-30"><h4 class="info_h4">+7-9270-39-23-30</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <h1>Сакура</h1>
            </div>

        </div>

        <div class="container">
            <div class="menu_selection">
                <a class="menu_selection_a" href="#cold"><p class="menu_selection_p">Холодные роллы</p></a>
                <a class="menu_selection_a" href="#fried"><p class="menu_selection_p">Жаренные роллы</p></a>
                <a class="menu_selection_a" href="#baked"><p class="menu_selection_p">Запечённые роллы</p></a>
                <a class="menu_selection_a" href="#grill"><p class="menu_selection_p">Гриль роллы</p></a>
                <a class="menu_selection_a" href="#mini"><p class="menu_selection_p">Мини роллы</p></a>
                <a class="menu_selection_a" href="#assorted"><p class="menu_selection_p">Ассорти</p></a>
            </div>
        </div>
    </header>
    <div class="menu_main">
        <div class="container">
            <div class="menu_title">
                <h2 class="menu_title_h2">Роллы</h2>
                <p class="menu_title_p"><a name="cold">Холодные роллы</a></p>
                <div class="menu_assortment">
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Шах и мат</h4>
                            <img class="rolli_img" src="images/rolli35.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Шах и мат</h5>
                                <p class="rolli_menu_p">Лосось, краб, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">200₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Макси</h4>
                            <img class="rolli_img" src="images/rolli15.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">215₽ </p>250 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Макси</h5>
                                <p class="rolli_menu_p">Лосось х/к, угорь, креетки, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">215₽ 250 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Янаги</h4>
                            <img class="rolli_img" src="images/rolli38.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">195₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Янаги</h5>
                                <p class="rolli_menu_p">Жаренный лосось, огурец, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">195₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Кунсей</h4>
                            <img class="rolli_img" src="images/rolli14.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>250 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Кунсей</h5>
                                <p class="rolli_menu_p">Лосось х/к, огурец, сливочный сыр, тобико</p>
                                <h5 class="rolli_menu_h5">200₽ 250 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Парадайс</h4>
                            <img class="rolli_img" src="images/rolli20.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Парадайс</h5>
                                <p class="rolli_menu_p">Угорь, авокадо, сливочный сыр, тобико</p>
                                <h5 class="rolli_menu_h5">205₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Эби маме</h4>
                            <img class="rolli_img" src="images/rolli36.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Эби маме</h5>
                                <p class="rolli_menu_p">Креветка, икра тобико, сливочный сыр, зелёный лук</p>
                                <h5 class="rolli_menu_h5">205₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Яри</h4>
                            <img class="rolli_img" src="images/rolli39.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">210₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Яри</h5>
                                <p class="rolli_menu_p">Креветка, лист салата, томат, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">210₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Цезарь</h4>
                            <img class="rolli_img" src="images/rolli34.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">195₽</p>220 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Цезарь</h5>
                                <p class="rolli_menu_p">Курица х/к, лист салата, сыр пармезан, томат, соус «цезарь»</p>
                                <h5 class="rolli_menu_h5">195₽ 220 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Этори</h4>
                            <img class="rolli_img" src="images/rolli37.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Этори</h5>
                                <p class="rolli_menu_p">Креветка, ананас, сливочный сыр, лесной орех, соус «унаги»</p>
                                <h5 class="rolli_menu_h5">200₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Дуэт</h4>
                            <img class="rolli_img" src="images/rolli4.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">230₽</p>250 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Дуэт</h5>
                                <p class="rolli_menu_p">Угорь, лосось, авокадо, икра тобико, сливочный сыр, кунжут, соус
                                    «унаги»</p>
                                <h5 class="rolli_menu_h5">230₽ 250 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Сливочная калифорния</h4>
                            <img class="rolli_img" src="images/rolli26.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">195₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Сливочная калифорния</h5>
                                <p class="rolli_menu_p">Мясо краба, кунжут, сливочный сыр, редис дайкон, томат, икра
                                    тобико</p>
                                <h5 class="rolli_menu_h5">195₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Филадельфия люкс</h4>
                            <img class="rolli_img" src="images/rolli31.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">330₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Филадельфия люкс</h5>
                                <p class="rolli_menu_p">Лосось, сливочный сыр, икра лосося</p>
                                <h5 class="rolli_menu_h5">330₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Сайхо</h4>
                            <img class="rolli_img" src="images/rolli22.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>250 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Сайхо</h5>
                                <p class="rolli_menu_p">Курица х/к, огурец, тунец, кунжут, сливочный сыр</p>
                                <h5 class="rolli_menu_h5">200₽ 250 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Кобе</h4>
                            <img class="rolli_img" src="images/cobe.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Кобе</h5>
                                <p class="rolli_menu_p">Угорь, огурец, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">205₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Токио</h4>
                            <img class="rolli_img" src="images/rolli29.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">215₽</p>260 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Токио</h5>
                                <p class="rolli_menu_p">Лосось х/к, авокадо, курица х/к, сливочный сыр</p>
                                <h5 class="rolli_menu_h5">215₽ 260 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Запечённая филадельфия</h4>
                            <img class="rolli_img" src="images/rolli6.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">230₽</p>260 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Запечённая филадельфия</h5>
                                <p class="rolli_menu_p">Лосось, томат, авокадо, кунжут, сливочный сыр, соус
                                    «терияки»</p>
                                <h5 class="rolli_menu_h5">230₽ 260 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Маме ролл бекон</h4>
                            <img class="rolli_img" src="images/rolli16.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">185₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Маме ролл бекон</h5>
                                <p class="rolli_menu_p">Бекон, томат, болгарский перец, лист салата, соус «спайс»</p>
                                <h5 class="rolli_menu_h5">185₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Запеченная калифорния </h4>
                            <img class="rolli_img" src="images/rolli5.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">230₽</p>280 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Запеченная калифорния </h5>
                                <p class="rolli_menu_p">Мясо краба, огурец, авокадо, майонез, лосось, сыр моцарела</p>
                                <h5 class="rolli_menu_h5">230₽ 280 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Сливочная курочка</h4>
                            <img class="rolli_img" src="images/rolli23.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">240₽</p>185 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Сливочная курочка</h5>
                                <p class="rolli_menu_p">Курица х/к, огурец,сливочный сыр, кунжут</p>
                                <h5 class="rolli_menu_h5">240₽ 185 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Сливочный лосось</h4>
                            <img class="rolli_img" src="images/rolli24.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Сливочный лосось</h5>
                                <p class="rolli_menu_p">Лосось, авокадо, сливочный сыр, кунжут</p>
                                <h5 class="rolli_menu_h5">200₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Сливочный угорь</h4>
                            <img class="rolli_img" src="images/rolli25.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Сливочный угорь</h5>
                                <p class="rolli_menu_p">Угорь, авокадо, сливочный сыр, кунжут</p>
                                <h5 class="rolli_menu_h5">200₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Суммо</h4>
                            <img class="rolli_img" src="images/rolli28.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">230₽</p>265 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Суммо</h5>
                                <p class="rolli_menu_p">Угорь, курица в «терияки», огурец, зелёный лук, сливочный
                                    сыр</p>
                                <h5 class="rolli_menu_h5">230₽ 265 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Йотей</h4>
                            <img class="rolli_img" src="images/rolli9.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>235 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Йотей</h5>
                                <p class="rolli_menu_p">Огурец, лист салата, сливочный сыр, кугжут, лосось х/к, соус
                                    «спайс»</p>
                                <h5 class="rolli_menu_h5">205₽ 235 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Адзума</h4>
                            <img class="rolli_img" src="images/rolli1.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>215 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Адзума</h5>
                                <p class="rolli_menu_p">Угорь, лист салата, кунжут, сливочный сыр</p>
                                <h5 class="rolli_menu_h5">200₽ 215 грамм</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Унаги маки</h4>
                            <img class="rolli_img" src="images/rolli30.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">230₽</p>260 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Унаги маки</h5>
                                <p class="rolli_menu_p">Угорь, такаун, сливочный сыр, кунжут, соус «унаги»</p>
                                <h5 class="rolli_menu_h5">230₽ 260 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Филадельфия</h4>
                            <img class="rolli_img" src="images/rolli32.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">230₽</p>260 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Филадельфия</h5>
                                <p class="rolli_menu_p">Лосось, авокадо,сливочный сыр</p>
                                <h5 class="rolli_menu_h5">230₽ 260 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Бекон ролл</h4>
                            <img class="rolli_img" src="images/rolli2.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">185₽</p>235 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Бекон ролл</h5>
                                <p class="rolli_menu_p">Лосось х/к, авокадо, курица х/к, сливочный сыр</p>
                                <h5 class="rolli_menu_h5">185₽ 235 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Кимпу</h4>
                            <img class="rolli_img" src="images/rolli12.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">380₽</p>260 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Кимпу</h5>
                                <p class="rolli_menu_p">Тунец, огурец, томат, соус «спайс»</p>
                                <h5 class="rolli_menu_h5">380₽ 260 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Гасан</h4>
                            <img class="rolli_img" src="images/rolli3.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Гасан</h5>
                                <p class="rolli_menu_p">Лосось в «терияки», курица х/к, авокадо, сливочный сыр, икра
                                    тобико</p>
                                <h5 class="rolli_menu_h5">200₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Ивате</h4>
                            <img class="rolli_img" src="images/rolli7.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Ивате</h5>
                                <p class="rolli_menu_p">Лосось в «терияки», курица х/к, сливочный сыр, сырный соус</p>
                                <h5 class="rolli_menu_h5">200₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Собо</h4>
                            <img class="rolli_img" src="images/rolli27.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">240₽</p>185 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Собо</h5>
                                <p class="rolli_menu_p">Томат, кунжут, сливочный сыр, мясо краба, майонез</p>
                                <h5 class="rolli_menu_h5">240₽ 185 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Йоши</h4>
                            <img class="rolli_img" src="images/rolli10.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">210₽</p>260 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Йоши</h5>
                                <p class="rolli_menu_p">Лосось х/к, томат, сливочный сыр, курица х/к, соус «спайс», соус
                                    «унаги»</p>
                                <h5 class="rolli_menu_h5">210₽ 260 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Мирайкан</h4>
                            <img class="rolli_img" src="images/rolli17.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">185₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Мирайкан</h5>
                                <p class="rolli_menu_p">Тунец, огурец, соус «спайс», кунжут</p>
                                <h5 class="rolli_menu_h5">185₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Калифорния сяке</h4>
                            <img class="rolli_img" src="images/rolli11.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">190₽</p>220 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Калифорния сяке</h5>
                                <p class="rolli_menu_p">Угорь, курица в «терияки», огурец, зелёный лук, сливочный
                                    сыр</p>
                                <h5 class="rolli_menu_h5">190₽ 220 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Калифорния кани</h4>
                            <img class="rolli_img" src="images/rolli11.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">195₽</p>240 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Калифорния кани</h5>
                                <p class="rolli_menu_p">Мясо краба, авокадо, огурец, майонец, икра тобико</p>
                                <h5 class="rolli_menu_h5">195₽ 240 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Калифорния унаги</h4>
                            <img class="rolli_img" src="images/rolli11.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">195₽</p>220 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Калифорния унаги</h5>
                                <p class="rolli_menu_p">Угорь, огурец, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">195₽ 220 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Никко</h4>
                            <img class="rolli_img" src="images/rolli18.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>230 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Никко</h5>
                                <p class="rolli_menu_p">Лосось х/к, кунжут, сливочный сыр, мясо краба</p>
                                <h5 class="rolli_menu_h5">200₽ 230 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Киото</h4>
                            <img class="rolli_img" src="images/rolli13.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>220 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Киото</h5>
                                <p class="rolli_menu_p">Сливочный сыр, лосось х/к</p>
                                <h5 class="rolli_menu_h5">205₽ 220 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Озз</h4>
                            <img class="rolli_img" src="images/rolli19.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">180₽</p>210 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Озз</h5>
                                <p class="rolli_menu_p">Курица х/к, мар.Лук, икра тобико</p>
                                <h5 class="rolli_menu_h5">180₽ 210 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Хакусан</h4>
                            <img class="rolli_img" src="images/rolli33.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>235 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Хакусан</h5>
                                <p class="rolli_menu_p">Лосось х/к, лист салата, зелёный лук, сливочный сыр, икра
                                    тобико</p>
                                <h5 class="rolli_menu_h5">200₽ 235 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Йокко</h4>
                            <img class="rolli_img" src="images/rolli8.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>249 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Йокко</h5>
                                <p class="rolli_menu_p">Лосось х/к, огурец, сливочный сыр, икра тобико</p>
                                <h5 class="rolli_menu_h5">205₽ 249 грамм</h5>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="rolli_main">
                            <h4 class="rolli_h4">Сайкай</h4>
                            <img class="rolli_img" src="images/rolli21.png" alt="">
                            <h4 class="rolli_h4"><p class="rolli_p">200₽</p>200 грамм</h4>
                        </div>
                        <div class="list__some">
                            <div class="rolli_main_two">
                                <h5 class="rolli_menu_h5">Сайкай</h5>
                                <p class="rolli_menu_p">Креветка, мидии, мясо краба</p>
                                <h5 class="rolli_menu_h5">200₽ 200 грамм</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu_rolli_main">
                    <a name="fried"><h2 class="menu_rolli_main_h2">Жаренные роллы <br>в «сухарях»</h2></a>
                    <div class="menu_rolli_img">
                        <img class="rolli_main_img" src="images/mainrolli.png" alt="">
                    </div>
                    <div class="owl-carousel ">
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Кодзу</h5>
                            <p class="rolli_menu_p">Курица х/к, зеленый лук, сливочный сыр</p>
                            <h4 class="rolli_h4"><p class="rolli_p">215₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Такара</h5>
                            <p class="rolli_menu_p">Креветка, лист салата, сливочный сыр</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Хисака</h5>
                            <p class="rolli_menu_p">Тунец, сливочный сыр, болгарский перец</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Инуями</h5>
                            <p class="rolli_menu_p">Мидии, томат, сливочный сыр</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Кумэ</h5>
                            <p class="rolli_menu_p">Угорь, томат, сливочный сыр</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Цукуба</h5>
                            <p class="rolli_menu_p">Жар.Окунь, лосось в «терияке», сливочный сыр</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Энаке</h5>
                            <p class="rolli_menu_p">Охот.Колбаса, редис такун, сливочный сыр зеленый лук</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                    </div>
                </div>
                <div class="menu_rolli_main">
                    <h2 class="menu_rolli_main_h2">Жаренные роллы <br>в «темпуре»</h2>
                    <div class="menu_rolli_img">
                        <img class="rolli_main_img" src="images/mainrolli3.png" alt="">
                    </div>
                    <div class="owl-carousel ">
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Эби</h5>
                            <p class="rolli_menu_p">Креветка, икра тобико, сливочный сыр</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Унаги</h5>
                            <p class="rolli_menu_p">Угорь, сливочный сыр, икра тобико</p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>240 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Хонго</h5>
                            <p class="rolli_menu_p">Лосось х/к, курица х/к, томат, сливочный сыр, зеленый лук </p>
                            <h4 class="rolli_h4"><p class="rolli_p">215₽</p>250 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Ясима</h5>
                            <p class="rolli_menu_p">Курица, икра тобико, сливочный сыр </p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Сяке</h5>
                            <p class="rolli_menu_p">Лосось, икра тобико, сливочный сыр </p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Сяке кунсей</h5>
                            <p class="rolli_menu_p">Лосось х/к, икра тобико, сливочный сыр </p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                        <div class="rolliinfo"><h5 class="rolli_menu_h5">Кани</h5>
                            <p class="rolli_menu_p">Мясо краба, икра тобико, сливочный сыр </p>
                            <h4 class="rolli_h4"><p class="rolli_p">205₽</p>230 грамм</h4>
                        </div>
                    </div>
                </div>
                    <div class="menu_rolli_main">
                        <a name="baked"><h2 class="menu_rolli_main_h2">Запечённые роллы<br>под сыром</h2></a>
                        <div class="menu_rolli_img">
                            <img class="rolli_main_img" src="images/mainrolli2.png" alt="">
                        </div>
                        <div class="owl-carousel ">
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Касадо</h5>
                                <p class="rolli_menu_p">Угорь, томат, лосось, сливочный сыр, сыр моцарелла</p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Торисима</h5>
                                <p class="rolli_menu_p">Мясо краба, авокадо, сливочный сыр, креветка, сыр моцарелла </p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Хокайдо</h5>
                                <p class="rolli_menu_p">Курица х/к, зеленый лук, томат, бекон, сливочный сыр, сыр
                                    моцарелла</p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Кодзима</h5>
                                <p class="rolli_menu_p">Лосось х/к, курицах/к, сливочный сыр, томат, сыр моцарелла</p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Кайёси маки</h5>
                                <p class="rolli_menu_p">Жар.Мидии, мясо краба, авокадо, сливочный сыр, сыр моцарелла</p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Тесима</h5>
                                <p class="rolli_menu_p">Курица х/к, авокадо, сливочный сыр, лосось, сыр моцарелла</p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Косиски</h5>
                                <p class="rolli_menu_p">Мар.Тунец, томат, соивочный сыр, сыр моцарелла</p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Якуси</h5>
                                <p class="rolli_menu_p">Лосось в «терияки», сливочный сыр, болг.Перец, сыр
                                    моцарелла, </p>
                                <h4 class="rolli_h4"><p class="rolli_p">230₽</p>270 грамм</h4>
                            </div>
                        </div>
                    </div>
                    <div class="menu_rolli_main">
                        <a name="grill"><h2 class="menu_rolli_main_h2">Гриль роллы<br>под сыром</h2></a>
                        <div class="menu_rolli_img">
                            <img class="rolli_main_img" src="images/mainrolli4.png" alt="">
                        </div>
                        <div class="owl-carousel ">
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Койтори</h5>
                                <p class="rolli_menu_p">Курица х/к, зеленый лук, сливочный сыр</p>
                                <h4 class="rolli_h4"><p class="rolli_p">210₽</p>250 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Бушидо</h5>
                                <p class="rolli_menu_p">Креветка, лист салата, сливочный сыр</p>
                                <h4 class="rolli_h4"><p class="rolli_p">210₽</p>240 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Уме</h5>
                                <p class="rolli_menu_p">Тунец, сливочный сыр, болгарский перец</p>
                                <h4 class="rolli_h4"><p class="rolli_p">210₽</p>240 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Айко</h5>
                                <p class="rolli_menu_p">Мидии, томат, сливочный сыр</p>
                                <h4 class="rolli_h4"><p class="rolli_p">210₽</p>240 грамм</h4>
                            </div>
                            <div class="rolliinfo"><h5 class="rolli_menu_h5">Татами</h5>
                                <p class="rolli_menu_p">Угорь, томат, сливочный сыр</p>
                                <h4 class="rolli_h4"><p class="rolli_p">210₽</p>250 грамм</h4>
                            </div>
                        </div>
                    </div>
                    <div class="minirolli">
                        <a mini="mini"><h2 class="menu_rolli_main_h2">Мини роллы</h2></a>
                        <div class="mini_rolli_info">
                            <div class="mini_main_rolli"><img class="mini_img" src="images/mini1.png" alt="">
                                <p class="mini_p">Мини ролл <br>без соусов</p>
                                <h4 class="mini_h4"><p class="mini_rolli_p">110₽</p>140 грамм</h4>
                                <h6 class="mini_h6"><br>С лососем<br>С лососем х/к<br>С угрём<br>С креветкой<br>С
                                    курицей х/к<br>С тунцом<br>С мясом краба<br>С огурцом<br>С авокадо</h6></div>
                            <div class="mini_main_rolli"><img class="mini_img" src="images/mini2.png" alt="">
                                <p class="mini_p">Мини ролл спайс <br>с соусом «спайс»</p>
                                <h4 class="mini_h4"><p class="mini_rolli_p">120₽</p>150 грамм</h4>
                                <h6 class="mini_h6"><br>С лососем<br>С лососем х/к<br>С угрём<br>С креветкой<br>С
                                    курицей х/к<br>С тунцом</div>
                            <div class="mini_main_rolli"><img class="mini_img" src="images/mini3.png" alt="">
                                <p class="mini_p">Мини ролл сливочный <br>с сливочным сыром</p>
                                <h4 class="mini_h4"><p class="mini_rolli_p">135₽</p>160 грамм</h4>
                                <h6 class="mini_h6"><br>С лососем<br>С лососем х/к<br>С угрём<br>С креветкой<br>С
                                    курицей х/к<br>С мясом краба</div>
                            <div class="mini_main_rolli"><img class="mini_img" src="images/mii4.png" alt="">
                                <p class="mini_p">Мини ролл с икрой <br>без соуса</p>
                                <h4 class="mini_h4"><p class="mini_rolli_p">125₽</p>160 грамм</h4>
                            </div>
                        </div>
                        <a name="assorted"></a><h2 class="menu_rolli_main_h2">Ассорти наборы</h2>
                        <div class="assorted_rolli">
                            <div class="assorted_info"><h4 class="assorted_h4">Ассорти 1</h4>
                                <h4 class="mini_h4">Вес 1015 грамм,<p class="mini_rolli_p">730₽</p></h4>
                                <p class="assorted_p">Токио, унаги маки, филадельфия, бекон ролл</p></div>
                            <div class="assorted_info"><h4 class="assorted_h4">Нагано</h4>
                                <h4 class="mini_h4">Вес 900 грамм,<p class="mini_rolli_p">670₽</p></h4>
                                <p class="assorted_p">Торисима, жаренные в темпуре Сяке, Шах и мат, мини ролл с
                                    икрой</p></div>
                            <div class="assorted_info"><h4 class="assorted_h4">Ассорти 2</h4>
                                <h4 class="mini_h4">Вес 950 грамм,<p class="mini_rolli_p">660₽</p></h4>
                                <p class="assorted_p">Сливочная курочка, янаги, калифорния кани, гасан</p></div>
                            <div class="assorted_info"><h4 class="assorted_h4">Жаренное ассорти</h4>
                                <h4 class="mini_h4">Вес 1230 грамм,<p class="mini_rolli_p">999₽</p></h4>
                                <p class="assorted_p">Татами, хокайдо, запечённая калифорния, жаренные в темпуре сяке
                                    1/2, ясима 1/2, инуями 1/2, кодзу 1/2</p></div>
                            <div class="assorted_info"><h4 class="assorted_h4">Ассорти 3</h4>
                                <h4 class="mini_h4">Вес 730 грамм,<p class="mini_rolli_p">530₽</p></h4>
                                <p class="assorted_p">Койтори, айко, филадельфия, яри</p></div>
                            <div class="assorted_info"><h4 class="assorted_h4"> Сакура</h4>
                                <h4 class="mini_h4">Вес 1155 грамм,<p class="mini_rolli_p">850₽</p></h4>
                                <p class="assorted_p">Дуэт, макси, калифорния кани 1/2, парадайс 1/2, сливочный лосось
                                    1/2, сливочный угорь 1/2, мини роллы с лосось 1/2, лосось х/к 1/2, курица 1/2,
                                    креветка 1/2, </p></div>
                            <div class="assorted_info"><h4 class="assorted_h4">Ассорти 4,</h4>
                                <h4 class="mini_h4">Вес 680 грамм,<p class="mini_rolli_p">480₽</p></h4>
                                <p class="assorted_p">Сливочная калифорния, мини ролл угорь, мини ролл спайс с курицей
                                    х/к и креветкой, мини ролл сливочный с лососем и лососем х/к </p></div>
                        </div>
                    </div>
                    <h2 class="menu_title_h2"> Доставка </h2>
                    <div class="delivery">
                        <div class="delivery_info">
                            <h4 class="delivery_h4">Доставка 50₽<br>Бесплатная от 350₽</h4>
                        </div>
                        <div class="delivery_info">
                            <p class="delivery_p">Пос.Осиново<br>Пос.Ремплер<br>Пос.Воронино
                            <p class="delivery_p">Жк.Салават купере<br>Жк.Радужный</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="want_do">
        <h1 class="want_h1">Желаете ?</h1>
        <div class="container">
            <div class="want_do_main">
                <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Закуски</h3><img
                                class="want_do_img" src="images/menu2.jpg" alt=""></a></div>
                <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Бургеры</h3><img
                                class="want_do_img" src="images/menu4.jpg" alt=""></a></div>
                <div class="want_do_link"><a class="want_do_a" href=""><h3 class="want_do_h3">Роллы</h3><img
                                class="want_do_img" src="images/menu1.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer_main">
                <div class="footer_info">
                    <h3 class="footer_h3">Адрес</h3>
                    <p class="footer_p"><nobr>Адрес ул. Комарова 1 Б </nobr><br><nobr>Режим работы 10:00 - 22:00</nobr></p>
                </div>
                <div class="footer_info">
                    <h3 class="footer_h3">Меню</h3>
                    <a class="footer_a" href="pizza.html"><h3 class="footer_info_h3">Пицца</h3></a>
                    <a class="footer_a" href="rolli.html"><h3 class="footer_info_h3">Роллы</h3></a>
                    <a class="footer_a" href="hotdishes.html"><h3 class="footer_info_h3">Закуски</h3></a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer_mib">
        <div class="container">

        </div>
    </footer>
</div>
</body>
</html>