<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/index.css">
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
</head>
<body>
<div class="grid">
    <div class="wrapper">
            <header class="header  header__burger">
                <div class="header-info">
                    <div class="container">
                        <div class="menu">
                            <img src="images/menu.png" alt="">
                            <h1>Меню</h1>
                            <ul>
                                <li>
                                    <a href="Sakura.html">Главная</a>
                                </li>
                                <li>
                                    <a href="#">Продукция</a>
                                    <ul>
                                        <li><a href="#">Пицца</a></li>
                                        <li><a href="Sakura3.html">Роллы</a></li>
                                        <li><a href="#">Горячие блюда</a></li>
                                        <li><a href="Sakura2.html">Бургеры</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Контакты</a>
                                    <ul>
                                        <li><a href="#">О Нас</a></li>
                                        <li><a href="#">Вконтакте</a></li>
                                        <li><a href="#">Instgramm</a></li>
                                        <li><a href="#">Facebook</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4>Адрес ул. Комарова 1 Б</h4>
                            <h4>+7-9270-39-23-30</h4>
                            <h4>Режим работы 10:00 - 22:00</h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="logo">
                        <h1>Сакура</h1>
                    </div>

                </div>

                <div class="container">
                    <div class="greeting">
                        <h2>
                            Приветсвуем
                        </h2>
                        <p>
                            Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому
                            кругу (специалистов) участие в формировании систем массового участия. С другой сто.
                        </p>
                    </div>
                </div>
            </header>
        <div class="burger">
            <h1 class="burger-title">Бургеры</h1>
            <div class="menu-burger">
                <div class="menu-sub">Пеперони</div>
                <div class="menu-sub">Адыгея</div>
                <div class="menu-sub">Цезарь</div>
                <div class="menu-sub">Домашнаяя</div>
            </div>
            <div class="delivery">
                <h1 class="delivery-h1">Доставка</h1>
                <div class="delivery-main">
                    <div class="delivery-club">
                        <h2>Зеленодольский район</h2>
                        <h3>Доставка бесплатная от 350руб.</h3>
                        <p>Пос. Осиново</p>
                        <p>Пос. Ремплер</p>
                        <p>Пос. Воронино</p>
                    </div>
                    <div class="delivery-club">
                        <h2>Кировский район</h2>
                        <h3>Доставка бесплатная от 350руб.</h3>
                        <p>Пос. Залесный</p>
                    </div>
                    <div class="delivery-club">
                        <h3>Доставка бесплатная от 500руб.</h3>
                        <p>Пос. Новониколаевский</p>
                        <p>Пос. Ивановское</p>
                        <p>Пос. Новая тура</p>
                        <p>Пос. Дубровка</p>
                        <p>Пос. Новопольский</p>
                    </div>
                    <div class="delivery-club">
                        <h3>Доставка бесплатная от 700руб.</h3>
                        <p>Пос. Юдино</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="want">
            <h1 class="want-h1">Желаете?</h1>
            <div class="want-block">
                <div class="block-eat-one">
                    <div class="block-eat"><p class="one">Салаты</p></div>
                    <div class="block-eat"><p class="one">Пицца</p></div>
                </div>
                <div class="block-eat-two">
                    <div class="block-eat"><p class="one">Бургеры</p></div>
                    <div class="block-eat"><p class="one">Горячие блюда</p></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-address">
                    <h1 class="footer-h1">Адрес</h1>
                    <ul class="footer-list">
                        <li>Адрес ул. Комарова 1Б</li>
                        <li>Режим работы 11:00-23:00</li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h1 class="footer-h1">Меню</h1>
                    <ul class="footer-list">
                        <li><a href="#">Пицца</a></li>
                        <li><a href="#">Роллы</a></li>
                        <li><a href="#">Салаты</a></li>
                        <li><a href="#">Бургеры</a></li>
                        <li><a href="#">Горячие блюда</a></li>
                    </ul>
                </div>
                <div class="footer-vk">
                    <h1 class="footer-h1">Подписывайтесь на нас</h1>
                    <div class="main-link">
                        <div class="link"></div>
                        <div class="link"></div>
                        <div class="link"></div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-reklama">
            <h1 class="reklama-h1">Алексеев Артур/Дизайнер</h1>
            <p class="reklama-p"><b>Все виды дизайн работ/+79656008656/Nemec.work@gmail.com</b></p>
        </div>
    </div>

</div>
</body>
</html>