<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Пицца</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/index.css">
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
</head>
<body>
<!--<div class="grid">-->
<div class="wrapper">
    <header class="header  header__pizza">
        <div class="header-info">
            <div class="container">
                <div class="menu">
                    <img src="images/menu.png" alt="">
                    <h1>Меню</h1>
                    <ul>
                        <li>
                            <a href="Sakura.html">Главная</a>
                        </li>
                        <li>
                            <a href="#">Продукция</a>
                            <ul>
                                <li><a href="Sakura4.html">Пицца</a></li>
                                <li><a href="Sakura3.html">Роллы</a></li>
                                <li><a href="#">Горячие блюда</a></li>
                                <li><a href="Sakura2.html">Бургеры</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Контакты</a>
                            <ul>
                                <li><a href="#">О Нас</a></li>
                                <li><a href="#">Вконтакте</a></li>
                                <li><a href="#">Instgramm</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <h4>Адрес ул. Комарова 1 Б</h4>
                    <h4>+7-9270-39-23-30</h4>
                    <h4>Режим работы 10:00 - 22:00</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <h1>Сакура</h1>
            </div>

        </div>

        <div class="container">
            <div class="menu_selection">
                <a class="menu_selection_a" href=""><p class="menu_selection_p">Большая пицца</p></a>
                <a class="menu_selection_a" href=""><p class="menu_selection_p">Закрыттая пицца</p></a>

            </div>
        </div>
    </header>
    <div class="menu_main">
        <div class="container">
            <div class="menu_title">
                <h2 class="menu_title_h2">Пицца</h2>
                <p class="menu_title_p">Большая пицца</p>
                <div class="menu_assortment">
                    <div class="list">
                        <div class="pizza_main">
                            <h5 class="pizza_menu_h5">Пеперони</h5>
                            <p class="pizza_menu_p">Салями, шампиньон, томат, сыр</p>
                            <h5 class="pizza_menu_h5">650 грамм
                                <br>300 руб</h5>
                        </div>
                        <div class="list__some">
                            <div class="pizza_main_two">
                                <h4 class="pizza_h4">Пеперони</h4>
                                <img class="pizza_img" src="images/1.jpg" alt="">
                                <h4 class="pizza_h4"><p class="pizza_p">300 руб,</p>600 грамм</h4>
                            </div>
                        </div>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Адыгея</h5>
                        <p class="pizza_menu_p">Курица х/к, томат, шампиньон, сыр</p>
                        <h5 class="pizza_menu_h5">700 грамм
                            <br>310 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Цезарь</h5>
                        <p class="pizza_menu_p">Курица х/к, лист салата, томат, сыр</p>
                        <h5 class="pizza_menu_h5">700 грамм
                            <br>320 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Домашняя</h5>
                        <p class="pizza_menu_p">Охот.Колбаса, сол.Огурец, томат, сыр</p>
                        <h5 class="pizza_menu_h5">650 грамм
                            <br>300 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Маргарита</h5>
                        <p class="pizza_menu_p">Томат, сыр моцарелла</p>
                        <h5 class="pizza_menu_h5">650 грамм
                            <br>250 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Эквадор</h5>
                        <p class="pizza_menu_p">Курица х/к, томат, охот.Колбаса, сыр</p>
                        <h5 class="pizza_menu_h5">650 грамм
                            <br>300 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Мясная</h5>
                        <p class="pizza_menu_p">Салями, ветчина, охот.Колбаса, томат, сыр</p>
                        <h5 class="pizza_menu_h5">1000 грамм
                            <br>420 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Грибная</h5>
                        <p class="pizza_menu_p">Лес.Грибы, шампиньон, салями, сыр</p>
                        <h5 class="pizza_menu_h5">700 грамм
                            <br>300 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Виаджо</h5>
                        <p class="pizza_menu_p">Ветчина, шампиньон, сыр</p>
                        <h5 class="pizza_menu_h5">550 грамм
                            <br>300 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Казань</h5>
                        <p class="pizza_menu_p">Курица х/к, бекон, лук, сыр</p>
                        <h5 class="pizza_menu_h5">600 грамм
                            <br>310 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Зачётная</h5>
                        <p class="pizza_menu_p">Курица х/к, лист салата, томат, сыр</p>
                        <h5 class="pizza_menu_h5">700 грамм
                            <br>350 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Кантри</h5>
                        <p class="pizza_menu_p">Ветчина, шампиньон, бекон, сыр</p>
                        <h5 class="pizza_menu_h5">600 грамм
                            <br>320 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Копчённая</h5>
                        <p class="pizza_menu_p">Курица х/к, сыр, охот.Колбаса, сол.Огурец, красный лук, </p>
                        <h5 class="pizza_menu_h5">650 грамм
                            <br>350 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Мексика</h5>
                        <p class="pizza_menu_p">Курица х/к, томат, ветчина, болгарский перец, сыр</p>
                        <h5 class="pizza_menu_h5">850 грамм
                            <br>380 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Болоньезе</h5>
                        <p class="pizza_menu_p">Фарш, томат, болгарский перец, лук, сыр</p>
                        <h5 class="pizza_menu_h5">800 грамм
                            <br>370 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">К пенному</h5>
                        <p class="pizza_menu_p">Мар.Лук , огурец, копчённый сыр, свинина, зелень, сыр моцарела</p>
                        <h5 class="pizza_menu_h5">800 грамм
                            <br>330 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Со свининой</h5>
                        <p class="pizza_menu_p">Свинная шея, томат, соус «сырный», сыр</p>
                        <h5 class="pizza_menu_h5">720 грамм
                            <br>290 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Веронез</h5>
                        <p class="pizza_menu_p">Курица х/к, салями, томат, сол.Огурец,
                            лук, сыр</p>
                        <h5 class="pizza_menu_h5">900 грамм
                            <br>420 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Чесночная</h5>
                        <p class="pizza_menu_p">Курица х/к, охот.Колбаса, томат, сол.Огурец, мар.Лук, чеснок,
                            сыр</p>
                        <h5 class="pizza_menu_h5">800 грамм
                            <br>320 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Ост.Колбаска</h5>
                        <p class="pizza_menu_p">Ост.Колбаса, томат, сыр</p>
                        <h5 class="pizza_menu_h5">740 грамм
                            <br>270 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Курица с перцем</h5>
                        <p class="pizza_menu_p">Курица х/к, болгарский перец, лук, сыр</p>
                        <h5 class="pizza_menu_h5">600 грамм
                            <br>320 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Деревенская</h5>
                        <p class="pizza_menu_p">Бекон, ветчина, корнишон, мар.Лук, сыр</p>
                        <h5 class="pizza_menu_h5">850 грамм
                            <br>370 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">Гавайи</h5>
                        <p class="pizza_menu_p">Курица х/к, ананас, сыр</p>
                        <h5 class="pizza_menu_h5">700 грамм
                            <br>300 руб</h5>
                    </div>
                    <div class="pizza_menu">
                        <h5 class="pizza_menu_h5">XXL</h5>
                        <p class="pizza_menu_p">Свинная шея, томат, сыр</p>
                        <h5 class="pizza_menu_h5">850 грамм
                            <br>370 руб</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--</div>-->
</body>
</html>