<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/grid-system.css">
</head>
<body>
<!--<div class="grid">-->
    <div class="wrapper">
        <header class="header header__chef">
            <div class="container">
                <nav class="dws-menu">
                    <ul>
                        <li>
                            <a href="Sakura.html">Главная</a>
                        </li>
                        <li>
                            <a href="#">Продукция</a>
                            <ul>
                                <li><a href="#">Пицца</a></li>
                                <li><a href="#">Роллы</a></li>
                                <li><a href="#">Горячие блюда</a></li>
                                <li><a href="#">Бургеры</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <nav class="menu-two">

                </nav>
                <h1 class="title">Сакура</h1>
                <ul class="sub-menu">
                    <li><a href="#">Пицца</a></li>
                    <li><a href="#">Роллы</a></li>
                    <li><a href="#">Салаты</a></li>
                    <li><a href="#">Бургеры</a></li>
                    <li><a href="#">Напитки</a></li>
                </ul>
                <div class="logo">
                    <h3 class="logo-title">Привествуем</h3>
                    <p class="logo-text">
                        Не следует, однако забывать, что новая<br>
                        модель организационной<br>
                        деятельности обеспечивает широкому<br>
                        кругу(специалистов) участие в<br>
                        формировании систем массового<br>
                        участия. С другой сто.</p>
                </div>
            </div>
        </header>
        <div class="menu_rolli">
            <h1 class="rolli_title ">Роллы</h1>
            <h4 class="rolli_title_1">Холодные роллы</h4>

            <div class="main_rolli">
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
                <div class="rolli"></div>
            </div>
            <div class="menu_rolli">
                <h4 class="rolli_title_1">Острые роллы</h4>
                <div class="main_rolli">
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                </div>
            </div>
            <div class="menu_rolli">
                <h4 class="rolli_title_1">Веган роллы</h4>
                <div class="main_rolli">
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                </div>
            </div>
            <div class="menu_rolli">
                <h4 class="rolli_title_1">Мини роллы</h4>
                <div class="main_rolli">
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                </div>
            </div>
            <div class="menu_rolli">
                <h4 class="rolli_title_1">Жаренные роллы</h4>
                <div class="main_rolli">
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                </div>
            </div>
            <div class="menu_rolli">
                <h4 class="rolli_title_1">Запеченые роллы</h4>
                <div class="main_rolli">
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                    <div class="rolli"></div>
                </div>
            </div>
        </div>
        <div class="delivery">
            <h1 class="delivery-h1">Доставка</h1>
            <div class="delivery-main">
                <div class="delivery-club">
                    <h2>Зеленодольский район</h2>
                    <h3>Доставка бесплатная от 350руб.</h3>
                    <p>Пос. Осиново</p>
                    <p>Пос. Ремплер</p>
                    <p>Пос. Воронино</p>
                </div>
                <div class="delivery-club">
                    <h2>Кировский район</h2>
                    <h3>Доставка бесплатная от 350руб.</h3>
                    <p>Пос. Залесный</p>
                </div>
                <div class="delivery-club">
                    <h3>Доставка бесплатная от 500руб.</h3>
                    <p>Пос. Новониколаевский</p>
                    <p>Пос. Ивановское</p>
                    <p>Пос. Новая тура</p>
                    <p>Пос. Дубровка</p>
                    <p>Пос. Новопольский</p>
                </div>
                <div class="delivery-club">
                    <h3>Доставка бесплатная от 700руб.</h3>
                    <p>Пос. Юдино</p>
                </div>
            </div>
        </div>
        <div class="want">
            <h1 class="want-h1">Желаете?</h1>
            <div class="want-block">
                <div class="block-eat-one">
                    <div class="block-eat"><p class="one">Салаты</p></div>
                    <div class="block-eat"><p class="one">Пицца</p></div>
                </div>
                <div class="block-eat-two">
                    <div class="block-eat"><p class="one">Бургеры</p></div>
                    <div class="block-eat"><p class="one">Горячие блюда</p></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-address">
                    <h1 class="footer-h1">Адрес</h1>
                    <ul class="footer-list">
                        <li>Адрес ул. Комарова 1Б</li>
                        <li>Режим работы 11:00-23:00</li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h1 class="footer-h1">Меню</h1>
                    <ul class="footer-list">
                        <li><a href="#">Пицца</a></li>
                        <li><a href="#">Роллы</a></li>
                        <li><a href="#">Салаты</a></li>
                        <li><a href="#">Бургеры</a></li>
                        <li><a href="#">Горячие блюда</a></li>
                    </ul>
                </div>
                <div class="footer-vk">
                    <h1 class="footer-h1">Подписывайтесь на нас</h1>
                    <div class="main-link">
                        <div class="link"></div>
                        <div class="link"></div>
                        <div class="link"></div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-reklama">
            <h1 class="reklama-h1">Алексеев Артур/Дизайнер</h1>
            <p class="reklama-p"><b>Все виды дизайн работ/+79656008656/Nemec.work@gmail.com</b></p>
        </div>
    </div>
<!--</div>-->
</body>
</html>